@using BalkanTech.Web.ViewModels.Report;
@using static BalkanTech.Common.Constants;
@using static BalkanTech.Common.ErrorMessages.Tasks;
@model TasksPerTechnicianReportViewModel

@{
    ViewData["Title"] = "Assigned Maintenance Tasks for Technician";
}
@if (TempData[nameof(ErrorData)] != null)
{
    <div class="alert alert-danger alert-dismissible fade show mt-3" role="alert">
        @TempData[nameof(ErrorData)]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
<div class="container mt-5">
    <h1 class="text-center mb-4">My Assigned Tasks</h1>
    <div class="task-section mb-5">
        <table class="table table-hover shadow-sm">
            <thead class="table-light">
                <tr>
                    <th class="text-primary">Task ID</th>
                    <th>Name</th>
                    <th>Due Date</th>
                    <th>Category</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.ToBeCompletedTasks.Any())
                {
                    @foreach (var task in Model.ToBeCompletedTasks)
                    {
                        <tr id="task-@task.Id">
                            <td>
                                <a href="@Url.Action("TaskDetails", "Task", new { id = task.Id })" class="text-primary" style="text-decoration: none">
                                    @task.Id.ToString().Substring(0, 8).ToUpper()
                                </a>
                            </td>
                            <td>@task.Name</td>
                            <td>@task.DueDate.ToString("yyyy-MM-dd")</td>
                            <td>@task.TaskCategory.Name</td>
                            <td>
                                @if (task.DueDate < DateTime.Now)
                                {
                                    <span id="task-passed-@task.Id" class="badge bg-danger text-dark">Due date passed</span>
                                }
                                @if (task.Status == "Pending")
                                {
                                    <span id="task-status-@task.Id" class="badge bg-warning text-dark">@task.Status</span>
                                }
                                else if (task.Status == "In Process")
                                {
                                    <span id="task-status-@task.Id" class="badge bg-primary text-dark">@task.Status</span>
                                }
                            </td>
                            <td class="text-center">
                                <!-- Form for changing task status -->
                                <form method="post" action="@Url.Action("ChangeTaskStatus", "Reports")" class="d-inline-block">
                                    <input type="hidden" name="taskId" value="@task.Id" />
                                    <input type="hidden" name="newStatus" value="In Process" />
                                    @if (task.Status != "In Process")
                                    {
                                        <button type="submit" class="btn btn-outline-primary btn-sm">
                                            <i class="bi bi-gear"></i> In Process
                                        </button>
                                    }
                                </form>
                                <form method="post" action="@Url.Action("ChangeTaskStatus", "Reports")" class="d-inline-block">
                                    <input type="hidden" name="taskId" value="@task.Id" />
                                    <input type="hidden" name="newStatus" value="Completed" />
                                    <input type="hidden" name="newDate" value="@DateTime.Now.ToString(dateFormat)" />
                                    <button type="submit" class="btn btn-outline-success btn-sm">
                                        <i class="bi bi-check-all"></i> Complete
                                    </button>
                                </form>
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr class="text-muted">
                        <td colspan="6" class="text-center">No tasks to be completed.</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
