@model BalkanTech.Web.ViewModels.TaskAddViewModel

@{
    ViewData["Title"] = "Add Task";
}

<h2 class="mb-4 mt-4">Add Task</h2>

<div class="card shadow-sm mb-4">
    <div class="card-body">
        <form asp-action="AddTask" method="post" class="needs-validation" novalidate>
            <div class="row mb-3">
      
                <div class="col-md-12">
                    <div class="form-group">
                        <label asp-for="Description" class="form-label fw-bold">Task Description</label>
                        <textarea asp-for="Description" class="form-control" rows="3"></textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row mb-3">

                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="RoomId" class="form-label fw-bold">Room</label>
                        <select asp-for="RoomId" class="form-select">
                            @if (Model.RoomNumbers != null)
                            {
                                <option value="">--Select Room Number--</option>
                                @foreach (var room in Model.RoomNumbers)
                                {
                                    <option value="@room">Room @room</option>
                                }
                            }
                        </select>
                        <span asp-validation-for="RoomId" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="TaskCategoryId" class="form-label fw-bold">Task Category</label>
                        <select asp-for="TaskCategoryId" class="form-select">
                            @if (Model.TaskCategories != null)
                            {
                                <option value="">--Select Category Type--</option>
                                foreach (var category in Model.TaskCategories)
                                {
                                    <option value="@category">@category</option>
                                }
                            }
                        </select>
                        <span asp-validation-for="TaskCategoryId" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row mb-3">

                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="DueDate" class="form-label fw-bold">Due Date</label>
                        <input asp-for="DueDate" type="date" class="form-control" />
                        <span asp-validation-for="DueDate" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="form-label fw-bold">Assigned Technicians</label>
                        <div class="form-check">
                            @if (Model.Technicians != null)
                            {
                                foreach (var technician in Model.Technicians)
                                {
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="tech_@technician" name="AssignedTechnicians" value="@technician" />
                                        <label class="form-check-label" for="tech_@technician">@technician</label>
                                    </div>
                                }
                            }
                        </div>
                        <span asp-validation-for="Technicians" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="d-flex justify-content-end">
                <button type="submit" class="btn btn-primary mt-3">Add Task</button>
            </div>
        </form>
    </div>
</div>


