@using BalkanTech.Web.ViewModels;
@using BalkanTech.Web.ViewModels.Room;
@model PaginationIndexViewModel<RoomsIndexViewModel>;
@using static BalkanTech.Common.ErrorMessages.Rooms;

@{
    ViewData["Title"] = "Room List";
}

@if (TempData[nameof(AddRoomsErrorMessage)] != null)
{
    <div class="alert alert-danger alert-dismissible fade show mt-3" role="alert">
        @TempData[nameof(AddRoomsErrorMessage)]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
@if (TempData[nameof(NoResultFound)] != null)
{
    <div class="alert alert-info alert-dismissible fade show mt-3" role="alert">
        @TempData[nameof(NoResultFound)]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
@if (TempData[nameof(ErrorRoomNumber)] != null)
{
    <div class="alert alert-danger alert-dismissible fade show mt-3" role="alert">
        @TempData[nameof(ErrorRoomNumber)]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<h1 class="mt-3" style="text-align: center">Rooms List</h1>

<div class="container">
    <div class="d-flex justify-content-between align-items-center mb-3">
        @if (User.IsInRole("Admin"))
        {
            <a href="@Url.Action("Add", "Room")" class="btn btn-info">Add Room</a>
        }
        @if (User.IsInRole("Manager"))
        {
            <a href="@Url.Action("Add", "Task")" class="btn btn-info m-3">Add Task</a>
        }
        <div class="ms-auto">
            <form class="d-flex">
                <input type="text" name="search" class="form-control me-sm-2" placeholder="Search" value="@ViewBag.SearchQuery">
                <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </div>
    <div class="row">
        @foreach (var room in Model.Items)
        {
            <div class="col-md-4 mb-4">
                <div class="card" style="display: flex; flex-direction: column; justify-content: space-between; height: 100%;">
                    <div class="card-body" style="flex-grow: 1;">
                        <h5 class="card-title">Room Number: @room.RoomNumber</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Floor: @room.Floor</h6>
                        <p class="card-text">@room.RoomCategory</p>
                        <p class="card-text mb-0">
                            Status:
                            @if (room.isAvailable)
                            {
                                <span class="text-success">Available</span>
                            }
                            else
                            {
                                <span class="text-danger">Occupied</span>
                            }
                        </p>
                        <hr />
                        <div class="d-flex flex-wrap align-items-center gap-2">
                            <span class="badge bg-warning text-dark">
                                Pending: @room.PendingTasks
                            </span>
                            <span class="badge bg-primary text-dark">
                                In Process: @room.InProcessTasks
                            </span>
                            <span class="badge bg-success text-dark">
                                Completed: @room.CompletedTasks
                            </span>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between align-items-center card-footer">
                        <form method="post" asp-action="ChangeRoomStatus" asp-controller="Room">
                            <input type="hidden" name="roomId" value="@room.Id" />
                            <button type="submit" class="btn btn-sm btn-primary">
                                @if (room.isAvailable)
                                {
                                    <span>Mark as Occupied</span>
                                }
                                else
                                {
                                    <span>Mark as Available</span>
                                }
                            </button>
                        </form>
                        <a href="@Url.Action("Index", "Task", new { roomId = room.Id, roomNumber = room.RoomNumber })"
                           class="btn btn-primary btn-sm">
                            View Tasks
                        </a>
                    </div>
                </div>
            </div>
        }
    </div>


    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            @if (Model.CurrentPage > 1)
            {
                <li class="page-item">
                    <a class="page-link" href="@Url.Action("Index", new { page = 1, pageSize = Model.PageSize })">First</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="@Url.Action("Index", new { page = Model.CurrentPage - 1, pageSize = Model.PageSize })">Previous</a>
                </li>
            }

            @for (int i = 1; i <= Model.TotalPages; i++)
            {
                <li class="page-item @(i == Model.CurrentPage ? "active" : "")">
                    <a class="page-link" href="@Url.Action("Index", new { page = i, pageSize = Model.PageSize })">@i</a>
                </li>
            }

            @if (Model.CurrentPage < Model.TotalPages)
            {
                <li class="page-item">
                    <a class="page-link" href="@Url.Action("Index", new { page = Model.CurrentPage + 1, pageSize = Model.PageSize })">Next</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="@Url.Action("Index", new { page = Model.TotalPages, pageSize = Model.PageSize })">Last</a>
                </li>
            }
        </ul>
    </nav>
</div>
